a{
    text-decoration: none;
    color:#000000;
  }
  a:hover{
    color:aqua
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-right: 120%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
  
  }
  th{
    background-color: #3a4638;
    color: #fffcfc;
    text-align: center;
  }
  
  
  tr:nth-child(even) {
    background-color: #48b038;
  }