

.bottom-content{
    display:flex;
    justify-content: space-between;
    margin:0% 10%;
}

.bottom-left{
    width:35%;
    margin-right: 5%;

}
.bottom-left-top,.bottom-left-bottom{
    background:#D0F0C0;
    padding: 5%;
    margin: 2%;
    border-radius: 5%;
}

.SubCan-button{
    right:0;
}
.bottom-right{
    display:flex;
    /*    flex-wrap: wrap;*/
    justify-content: space-between;
    width:65%;
    background-color: #98FF98;
    padding: 1%;
    border-radius: 5%;
    margin-top: 0.7%;
    margin-bottom: 0.7%;
}
.bottom-right-left,.bottom-right-right{
    width:50%;
}

.vertical-line{
    margin:5% 3% 5% 3%;
    border-left: 6px solid black;
    height: 400px;
    border-radius: 140%;
}

.bottom-right-right,.bottom-right-left h5{
    padding-top: 15%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-right: 120%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
  
  }
  th{
    background-color: #3a4638;
    color: #fffcfc;
    text-align: center;
  }
  
  
  tr:nth-child(even) {
    background-color: #48b038;
  }