html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.title {
    width: 50%;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px #010101;
    opacity: 0;
    transform: scale(0.7);
    animation: fadeInScale 2s forwards;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.title h1 {
    font-size: 7vw;
}

.title p {
    font-size: 1.5vw;
    margin-top: 2vh;
    background-color: #010101;
    padding: 1%;
}

@media (max-width: 600px) {
    .title h1 {
        font-size: 10vw;
    }

    .title p {
        font-size: 3vw;
    }
}
