/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
}

.container {
}

.topContent {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  /* margin: 0% 12%; */
  margin: 1vw;
}

.urLocation {
  /* float: left; */

  width: 300px;
  height: 100px;
}

.qiblaInfo {
  /* float: right; */
  padding: 20px;
  color: #fffcfc;
  background-color: #4f6f52;
  width: 230px;
  height: auto;
  border-radius: 10px;
  right: 40px;
  top: 100px;
}

#GetQiblaAutoButton {
  width: 50vw;
  padding: 8px;
  border-radius: 5px;
  /* background-color: rgb(211, 211, 211); */
  color: #fffcfc;
  background-color: #4f6f52;
  margin: 0 4vw 0 0;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#GetQiblaAutoButton:hover {
  background-color: rgb(213, 210, 210);
  color: #4f6f52;
}

#map {
  height: 500px;
  width: 60vw;

  margin-top: 10px;
  margin-bottom: 30px;
}

.bottomContent {
  display: flex;
  justify-content: center;
}

#qibla-direction {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .topContent {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    /* margin: 0% 12%; */
    margin: 20px;
  }
  #GetQiblaAutoButton {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .urLocation {
    width: 100%;
    height: 100px;
  }
  .qiblaInfo {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 30px 0 0 0;
  }
  #map {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.search-bar input {
  width: 30vw;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 10px;
}
.search-bar button {
  width: auto;
  height: 39px;
  padding: 0 19px;
  font-size: 1rem;
  background-color: #4f6f52;
  color: white;
  border: none;
  transition: 0.5s;

  cursor: pointer;
}
.searchbtn {
  border-radius: 5px;
  box-shadow: 0 0 7px black;
}
.searchbtn:hover {
  border-radius: 5px;
  background-color: #ccc;
  color: black;
  font-weight: 650;
  box-shadow: 0 0 3px #4f6f52;
}
.searchInput {
  border-radius: 5px;
  box-shadow: 0 0 3px black;
}

.navbar a {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
