.top-content {
  display: flex;
  justify-content: space-between;
  margin: 0% 10%;
  flex-wrap: wrap;
}

.right-top {
  right: 0;
}

.left-top1 {
  margin-top: 0;
}

.middle-content hr {
  border: solid 1px;
  width: 96%;
  margin: 2% 10% 2% 2%;
}

* {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #e8f3e2;
}
